.outContainer {
    position: fixed ;
    width: 100%;
     top: 0px;
     background-color: var(--header-bk);
     backdrop-filter: blur(16px);
     -webkit-backdrop-filter: blur(12px);
     -moz-backdrop-filter: blur(12px) ;
     border-bottom: 1px solid var(--border-light);
     z-index: 10;
     max-height: 70px;
}



.innerContainer {
    width: 100%;
    max-width: var(--max-width);
    margin-inline:auto;
    padding: 1rem var(--padding-inline);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navButton {
    border: none;
    width: 2.4rem;
    background-color: #00000000;
    height: 3rem;

}

.navButton .line {
    width: 100%;
                border-radius: 10px;
                height: 1px;
                background-color:black;
                position: relative;
                transition-duration: 0.3s;
                transition-timing-function: ease-out;
}

.line::before , .line::after {
    width: 100%;
            border-radius: 5px;
            height: 100%;
            background-color: black;
            position: absolute;
            content: "";
            transition-duration: .3s;
            transition-timing-function: ease-out;

}

.line::before {
    transform: translateY(10px);
    left: 0;
}

.line::after {
    transform: translateY(-10px);
    left: 0;
}

 .navButton.open .line {
    transform: translateX(-30px);
    background: transparent;
}
.navButton.open .line::before {
    transform: rotate(45deg);
    left: 30px;
}
.navButton.open .line::after {
    transform: rotate(-45deg);
    left: 30px;
}

.navmenu {
    display: flex;
    column-gap: 1.3rem;
    align-items: center;
}

.links {

    padding: .3rem .7rem;
    border-radius: 1rem;
    transition-duration: .3s;
    border: 1px solid rgba(0, 0, 0, 0.066);
}

.links:hover {
    background-color: rgba(0, 0, 0, 0.066);
    border: 1px solid transparent;
    transform: scale(1.1);
}

.menuMobile {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #deedff;
    display: flex;
    flex-direction: column;
    row-gap: 1.7rem;
    top: 68px ;
    left: 0;
    padding: 2rem 3rem 1rem 2rem;
    transition-duration: .3s;
    z-index: 20;
}

.menuMobileClose {
    transform: translateX(120%);
}

.menuMobile .linksM {
    border-left : 4px solid var(--blue-dark);
    padding-left: 1rem;
    font-size: 2rem;
    transition-duration: .3s;

}

.menuMobile .linksM:hover {
    padding-left: 2rem;
}

@media (max-width: 700px) {

    .navmenu {
        display: none;
    }

}

@media (min-width: 700px) {
    .navButton {
        display: none;
    }
}

