.outContainer {
    min-height: 200px;
    width: 100%;
    padding-top: var(--section-spacing);
    padding-bottom: var(--section-spacing);

}

.innerSection {
    max-width: var(--max-width);
    margin-inline: auto;
    min-height: 200px;
    padding-inline: var(--padding-inline);
    display: flex;
    justify-content: space-between;
}

.textAnimations {
/*   background-color: green; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
/*    border-left: 8px solid var(--blue-dark); */
   /*
  border-top: 1px solid var(--blue-dark);
  border-radius: 1rem 0 0 0; */
  padding-top: 3rem;
  position: relative;
}

.animationContainer {
  min-height: 300px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    filter: grayscale(1);
    opacity: .4;
}

.animationsContact {
/*   background-color: red; */
    width: 100%;
}

.gradientBlue {
  position: absolute;
  width: 10px;
  height: 100%;
  background: var(--blue-gradient);
  top: 0;
  left: 0;
  border-radius: 5px 5px 5px 5px;
}

.text {
  text-align: center;
}
@media (max-width: 790px) {
    .innerSection {
        flex-direction: column;
        row-gap: 3rem;
    }
}



/* form  */

.block {
    display: flex;
    flex-direction: column;
  }
  

  
  .form {
    font-size: 1rem;
    border-radius: 10px;
    width: 85%;
    padding: 3rem 1rem;
    max-width: 500px;
    border: 1px solid var(--border-card);
    border-radius: var(--border-radius);
    width: 100%;
 
  }
  
  .form input {
    font-size: 1rem;
    margin: 10px 0 10px 0px;
    border-color: rgb(31, 28, 28);
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--border-card);
    border-radius: var(--border-radius);
  }
  
  .form textarea {
    margin: 10px 0 10px 0px;
    padding: 5px;
    border: 1px solid var(--border-card);
    border-radius: var(--border-radius);
    background-color:transparent;
    font-size: 20px;
  }
  
  
  .name div {
    display: flex;
    flex-direction: column;
  }
  
  .block button {
    padding: 10px;
    font-size: 20px;
    width: 30%;
    border: 3px solid black;
    border-radius: 5px;
  }
  
  .button {
    display: flex;
    align-items: center;
  }
  
  .textarea {
    resize: none;
  }