.outContainer {
    min-height: 200px;
    width: 100%;
    padding-top: var(--section-spacing);
    padding-bottom: var(--section-spacing);

}

.innerSection {
    max-width: var(--max-width);
    margin-inline: auto;
    min-height: 200px;
    padding-inline: var(--padding-inline);
    display: flex;
    justify-content: space-between;
}

.textAnimations {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 3rem;
  position: relative;
  width: 100%;
 
}

.animationContainer {
    min-height: 300px;
    width: 100%;
    max-width: 550px;
    display: flex;
    justify-content: center;
    margin-inline: auto;
    align-items: center;
    position: relative;
    filter: grayscale(1);
    opacity: .4;
}

.animationsContact {
    width: 100%;
}

.gradientBlue {
  position: absolute;
  width: 10px;
  height: 100%;
  background: var(--blue-gradient);
  top: 0;
  left: 0;
  border-radius: 5px 5px 5px 5px;
}

.text {
  text-align: center;
  width: 100%;
}
@media (max-width: 790px) {
    .innerSection {
        flex-direction: column;
        row-gap: 3rem;
    }
}



/* form  */

.block {
    display: flex;
    flex-direction: column;
    position: relative;

  }
  

  
  .form {
    font-size: 1rem;
    border-radius: 10px;
    width: 85%;
    padding: 3rem 1rem;
    max-width: 500px;
    border: 1px solid var(--border-card);
    border-radius: var(--border-radius);
    width: 100%;
 
  }
  
  .form input {
    font-size: .9rem;
    margin: 10px 0 10px 0px;
    border-color: rgb(31, 28, 28);
    padding: 10px ;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--border-card);
    border-radius: var(--border-radius);

  }

  .form input:not(:placeholder-shown) + .iconss {

    opacity: 0;
  }

  .form input::placeholder {
    font-style: italic;
    font-size: .9rem;
    opacity: .8;
    padding: 0 0 0 2.2rem;
  }

  .form textarea::placeholder {
    font-style: italic;
    font-size: .9rem;
    opacity: .8;
    padding: 0 0 0 2.2rem;
  
  }

  .form textarea:not(:placeholder-shown) + .iconss {

    opacity: 0;
  }
  
  .form textarea {
    margin: 10px 0 10px 0px;
    padding: 10px;
    border: 1px solid var(--border-card);
    border-radius: var(--border-radius);
    background-color:transparent;
    font-size: .9rem;
  }
  
  
  .name div {
    display: flex;
    flex-direction: column;
  }
  
  .block button {
    padding: 10px;
    font-size: 20px;
    width: 30%;
    border: 3px solid black;
    border-radius: 5px;
  }
  
  .button {
    display: flex;
    align-items: center;
  }
  
  .textarea {
    resize: none;
    font-family: 'Inter', sans-serif; 
  }

  .iconss {
    position: absolute;
    top: 2.5rem;
    left: 1rem;
    font-size: 1.2rem;
    opacity: .7;
    color: var(--blue-dark);
    transition-duration: .2s;
  }