.outContainer {
    background-color: green;

}

.innerContainer {
    max-width: var(--max-width);
    padding-inline: var(--padding-inline);
    margin-inline: auto;
}

.projectsBody {
    padding-top: 2rem;
    padding-inline: 1rem ;
    margin-inline: auto;
    max-width: 900px;
    margin-inline: auto;
    margin-bottom: 100px;
    background:  linear-gradient(rgba(57, 143, 255, 0.366), rgba(0, 0, 0, 0)); 
/*   --tile-border */
  /* background: var(  --secondary-glow); */
 
    border-radius: var(--border-radius);
}

.bodyTitle {

    margin-bottom: 3rem;
    max-width: 900px;
    margin-inline: auto;
}

.description {
    line-height: 1.4rem;
    margin: 1rem 0;
    max-width: 900px;
    margin-inline: auto;
}

.icon {
    width: 20px ;
    height: 20px ;
}

.listDes {
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    column-gap: .6rem;
    max-width: 900px;
    margin-inline: auto;
}

.lists {
    padding-bottom: 2rem ;
    list-style: none;
    max-width: 900px;
    margin-inline: auto;
}

.lists li {
    display: grid;
    grid-template-columns: 20px 1fr;
    padding: .8rem 0;
    column-gap: .6rem;
    align-items: start;
    border-bottom: 1px solid var(--border-light);

}

.lists li:last-child {
    border-bottom: none;
}

.listIcon {
    width: 20px ;
    height: 20px ;
    
}
.bottomText {
    line-height: 1.4rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.highlight {
    color: var(--blue-light);
    padding: .5rem 0;
}

.line {
    width: calc(100% - (var(--padding-inline) * 2));
    max-width: calc(var(--max-width));
    height: 1px;
    margin: 100px auto;
    background-color: var(--border-light);

}