.pageBody {
    max-width: var(--max-width);
    margin-inline: auto;
    padding-inline: var(--padding-inline);
}

.sercices {
    display: flex;
    flex-direction: column;
    row-gap: 5rem;
}

.serviceBox {
 
    border-radius: var(--border-radius);
    padding: 1.4rem 1rem 2rem;
    display: flex;
    column-gap: 2rem;
    align-items: center;
}

.illustrationContainer .image {
    min-width: 280px;
    width: 100%;
    background:  linear-gradient(rgba(57, 143, 255, 0.366), rgba(0, 0, 0, 0));
    border-radius: var(--border-radius);
    padding: 1rem;

}


.textContainer h3 {
    margin-bottom: 2rem;
}

.textContainer p {
    line-height: 1.4rem;
    margin-bottom: 1.4rem;
}


@media (max-width: 700px) {
    .serviceBox {
        flex-direction: column;
        row-gap: 4rem;
        justify-content: start;
    }
    .image {
     
 
    }
    .illustrationContainer {
        width: 100%;
      
    }
}