.outContainer {
     width: 100%;
     background: var( --header-bk);
     backdrop-filter: blur(16px);
     -webkit-backdrop-filter: blur(12px);
     -moz-backdrop-filter: blur(12px) ;
     z-index: 10;
    
     color: black;

}

.innerContainer {
    max-width: var(--max-width);
    margin-inline:auto ;
    padding: 2rem var(--padding-inline);
    display: flex;
    justify-content: space-between;
    align-items: start;

}

.contact {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

}

.contact .link {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-light);
    width: fit-content;
}

.contact .link:last-child {
    padding-bottom: 0;
    border-bottom: none;
}

.nuance {

}

.nuance p {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-light);
}
.linkContainer {
   
}
.logo {
 
}

@media (max-width: 700px) {
    .innerContainer {
        flex-direction: column;
        text-align: center;
        align-items: center;
        row-gap: 2rem;
    }
    .contact .link {
        align-self: center;
    }
}