.outContainer {
     width: 100%;
     background-color: #ffffff72;
     backdrop-filter: blur(16px);
     -webkit-backdrop-filter: blur(12px);
     -moz-backdrop-filter: blur(12px) ;
     z-index: 10;
     border-bottom: 1px solid var(--border-light);
     border-top: 1px solid var(--border-light);

}

.outContainer {
    max-width: var(--max-width);
    margin-inline:auto ;
    padding: 1rem var(--padding-inline);
    display: flex;
    justify-content: center;
}