.outContainer {
     width: 100%;
     background: var(--blue-gradient);
     backdrop-filter: blur(16px);
     -webkit-backdrop-filter: blur(12px);
     -moz-backdrop-filter: blur(12px) ;
     z-index: 10;
    
     color: aliceblue;

}

.innerContainer {
    max-width: var(--max-width);
    margin-inline:auto ;
    padding: 1rem var(--padding-inline);
    display: flex;
    justify-content: center;
}