.outContainer {
    width: 100%;
    min-height: 70vh;
    padding: 200px 0;

}

.innerContainer {
    max-width: var(--max-width);
    margin-inline: var(--padding-inline);
    margin-inline: auto;
    padding-inline: var(--padding-inline);
}

.titleContainer {

    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 200px;
    align-items: center;
    row-gap: 2rem;
    position: relative;

}

.animationBack {
    top: 17%;
    left: 50%;
    transform: translateX(-50%);
    opacity: .1;
    filter: grayscale(1);
    position: absolute;
    width: 500px;

}

.subTitle {
    text-align: center;
    font-size: 1.7rem;
}

.textN {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.4rem;
}