.outContainer {

    max-width: 800px;
    margin-inline: auto;
    padding: 1rem 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.outContainer li {
    margin-left: 1rem;
}

.outContainer p {
    line-height: 1.4rem;
}

@media (max-width: 600px) {
    .outContainer {
        padding: 1rem ;
    }
}