.portable {
    
}

.postDateContainer {
    max-width: var(--max-width);
    margin-inline: auto;
    padding-inline: var(--padding-inline);
    margin-top: 50px;
    text-align: center;
    padding-bottom: 1rem;
}

.postDateContainer div h1 {
    font-size: 2.6rem;
    padding-bottom: .8rem;

}

.bodyImg {
/*     max-width:90%;
    height: fit-content;
    width: fit-content;
    max-height: 500px; */

    object-fit: cover;
    background-color: rgb(41, 41, 41);
    border-radius: var(--border-radius);
    margin: 1rem 0;

}