.contents {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 200px;
    max-width: 900px;

    margin-inline: auto;
    padding-inline: var(--padding-inline);
    border-radius: var(--border-radius);
}

.postContainer {
    margin-top: 3rem;
    border-bottom: 1px solid var(--border-light);
    padding-bottom: 3rem;
}

.postContainer:last-child {
    border-bottom: none;
}

.titleContainer {

    padding: 1.5rem 0 ;

}
.blogLink {
    color : var(--blue-dark)
}

.noLink {
    color: rgb(246, 88, 88);
}