.outContainer {


}

.innerContainer {

    max-width: var(--max-width);
    padding-inline: var(--padding-inline);
    margin-inline: auto;
    margin-bottom: 8rem;
}

@media (max-width:700px){
    .innerContainer {
        margin-bottom: 50px;
    }
}